
/* Font */
.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", serif;
    font-style: normal;
    font-optical-sizing: auto;
    /* font-variation-settings: 
        "wdth" 100; */
  }






/* Shared styles */
.mainbody{
    background-color: #F5F5F5;
    margin: 0 160 0 160;
}
.title-text{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.ct-text{
    color: #0E0E0E;
    opacity: 80%;
    font-size: 20px;
}
.cd-text{
    color: #0E0E0E;
    font-size: 16;
    opacity: 70%;
    font-weight: normal;
}
.btn-primary{
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 17px 34px;
}






  /* Navigation Bar Styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.signin-btn{
    background-color: transparent;
    border-radius: 8px;
    border-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border: 2px solid #006A50;
}



/* banner styles */
.banner{
    max-width: 1280px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: auto;
}
.banner-content{
    max-width: 622px;
    margin: 117px 0 117px 60px;
}
.banner-intro{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 500;
    opacity: 50%;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
}
.banner-img{
    width: 474px;
    height: 400px;
    margin: 80px 60px 80px 64px;
}





/* vision section */
.vision{
    margin: 80px 160px 0 160px;
}
.vision-card-icon{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.card-container{
    display: flex;
    justify-content: center;
}
.card{
    align-content: center;
    margin: 24px;
    padding: 24px 24px 24px 24px;
    height: 244px;
    width: 302px;
    background-color: white;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

