

:root{
    /* ---------------------------------margins--------------------------------- */
    --section-margin: 80px;


    /* --------------------------------color schemes---------------------------- */
    --body-color: #F5F5F5;
    
    
    /* --------------------------------padding---------------------------------- */
    --body-padding: 160px;

}


/* Font */
.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", serif;
    font-style: normal;
    font-optical-sizing: auto;
    /* font-variation-settings: 
        "wdth" 100; */
  }






/* Shared styles */
.mainbody{
    background-color: var(--body-color);
    padding: 0 var(--body-padding) 0 var(--body-padding);
}
.title-text{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.ct-text{
    color: #0E0E0E;
    opacity: 80%;
    font-size: 20px;
}
.cd-text{
    color: #0E0E0E;
    font-size: 16;
    opacity: 70%;
    font-weight: normal;
}
.btn-primary{
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 17px 34px;
}






  /* Navigation Bar Styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.signin-btn{
    background-color: transparent;
    border-radius: 8px;
    border-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border: 2px solid #006A50;
}



/* banner styles */
.banner{
    /* height: 560px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: var(--section-margin);
}
.banner-content{
    max-width: 622px;
    margin: 117px 0 117px 60px;
}
.banner-intro{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 500;
    opacity: 50%;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
}
.banner-img{
    width: 474px;
    height: 400px;
    margin: 80px 60px 80px 64px;
}





/* pillars section */
.pillars{
    margin: var(--section-margin) 0;
}
.pillars-card-icon{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.pillars-card-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.pillars-card{
    align-content: center;
    padding: 24px 24px 24px 24px;
    background-color: white;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}



/* Vision of the future styles */
.vision-card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision-p{
    margin-bottom: 24px;
}
.vision-cards-1{
    align-content: center;
    padding: 32px 32px 32px 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
}
.vision-btn-1{
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
}

.vision-cards-2{
    align-content: center;
    padding: 32px 32px 32px 32px;
    background-color: #C6E4D6;
    border: none;
    border-radius: 16px;
}

.vision-btn-2{
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
}

.vision-cards-3{
    align-content: center;
    padding: 32px 32px 32px 32px;
    background-color: #F7EBCF;
    border: none;
    border-radius: 16px;
}


.vision-btn-3{
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
}

/* advisor section styles */

.advisor{
    margin: 32px 0;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 24px 24px 24px 24px;
    background-position: 24px 24px;
    background-color: white;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}



/* recent news section styles */
.news{
    margin-top: 80px;
}
.recent-news{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 48px;
    gap: 24px;
    border-radius: 24px;
    margin-top: 32px;
}
.sat{
    border-radius: 24px;
}
.news-hed{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.btn-read{
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 13px 26px;
}


/* donate section styles */
.donate{
    margin-top: 80px;
}
.donate-tk{
    margin: 32px 0 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1171px;
}
.btn-tk{
    padding: 40px;
    background-color: white;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.btn-tk-slct
{
    padding: 40px;
    background-color: #C6E4D6;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.donate-btn{
    margin: 32px 0 0 0;
}
input{
    width: 1032px;
    height: 64px;
    border-color: transparent;
    text-align: center;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: normal;
}
input::placeholder{
    color: rgba(14, 14, 14, 0.3)
}

